.labourParent{
        position: fixed;
    inset: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.labourDetails{
    /* margin:20px; */
    color:rgb(46, 65, 46);
    font-weight: bold;
    /* background-color: rgb(152, 253, 52); */
    border-radius:10px;
    padding:20px;

    width:60%;
    height:80vh;

    background-color:rgba(10, 224, 64, 0.6); 
    margin:30px;
}

.labourDetails label{
    margin:10px;
    font-size:17px;
}

.labourInput{
    height:30px;
    width:160px;
    border-radius:5px;
    border-color:rgb(46, 65, 46);
}

.labourNameInput{
    margin-left:72px;
}
/* .labourDetails input{
margin-left:50px;
align-items: center;
border-radius:5px;
border-color:rgb(46, 65, 46);
height:25px;
width:150px;
}  */

.labourPasswordInput{
    margin-left:44px;
}

.labourEmailInput{
    margin-left:75px;
}

.ageinput{
    margin-left:90px;
}

.villageinput{
    margin-left:65px;
}

.skillsinput{
    margin-left:55px;
    border-radius:5px;
    border:2px solid;
    border-color:rgb(46, 65, 46);
    margin-left:79px;
}

.labourPhoto{
    margin-left:10px;
}

.close-btn{
    border:0px;
    color:black;
    background-color:rgba(10, 224, 64, 0.2);
    font-size:20px;
    position:relative;
    
}

h2{
    text-align: center;
    font-weight: bold;
    font-size:25px;
    
}

.submitBtn{
    height:40px;
    width:120px;
    border-color:rgb(46, 65, 46);
    background-color: rgb(46, 65, 46);
    border-radius:5px;
    color:antiquewhite;
    font-size:17px;
    margin-top:10px;
}

.labourPhoto::file-selector-button{
    background-color:rgb(46, 65, 46);
    color: white;
    font-size:x-small;
    border: none;
    border-radius: 5px;

    padding: 3px 10px;
    margin-right: 10px;

    cursor: pointer;
}


