.labourLoginContainer{
    position: fixed;
    inset: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.labourLoginDetails{
    /* margin:20px; */
    color:rgb(17, 49, 17);
    font-weight: bold;
    /* background-color: rgb(152, 253, 52); */
    border-radius:10px;
    padding:20px;

    width:50%;
    height:50vh;

    background-color:rgb(255, 255, 255); 
    margin:30px;
}
.labourLoginDetails h1{
    text-align: center;
    margin-bottom: 20px;
}

.labourLoginDetails label{
    margin:10px;
    font-size:17px;
}

.labourLoginInput{
    height: 38px;
    width:200px;
    border-radius:5px;
    border-color:rgb(46, 65, 46);
}
.loginBtn{
    height:40px;
    width:120px;
    border-color:rgb(46, 65, 46);
    background-color: rgb(46, 65, 46);
    border-radius:5px;
    color:antiquewhite;
    font-size:17px;
    margin-top:10px;
}    

.labourLoginEmail{
    margin-left:30px;
}